# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directory
# Commenting this out is preferred by some people, see
# https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules/

# Book build output
_book/

# eBook build output
*.epub
*.mobi
*.pdf

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js build output
.next/

# Compiled files
out/
dist/

# Log files
logs/
*.log

# IDE and editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Editor-specific files
*~
*.sublime-project
*.sublime-workspace
Thumbs.db
Desktop.ini

# Mac-specific files
.DS_Store

# Sensitive or private information
secrets.json
private.key

# next-video
public/videos/*
!public/videos/*.json
!public/videos/*.js
!public/videos/*.ts
public/_next-video
