# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage
coverage
*.lcov
.nyc_output

# Grunt storage
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Compiled addons
build/Release

# Dependencies
node_modules/
jspm_packages/
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional caches
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# REPL history
.node_repl_history

# npm pack output
*.tgz

# Yarn Integrity
.yarn-integrity

# dotenv
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Parcel
.cache
.parcel-cache

# Next.js
.next
out

# Nuxt
.nuxt
dist

# Gatsby (keep public/ for Next.js!)
.cache/
# public

# vuepress
.vuepress/dist
.temp
.cache

# Docusaurus
.docusaurus

# Sensitive files
secrets.json
private.key

# next-video
public/videos/*
!public/videos/*.json
!public/videos/*.js
!public/videos/*.ts
public/_next-video

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB Local
.dynamodb/

# TernJS
.tern-port

# VSCode testing
.vscode-test

# Yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Appwrite CLI local dev
.appwrite
